# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectves:**
 - List Commonly Used Libraries Used in Data Science
 - List Popular Languages Used in Data Science
 - List Commonly Used Open Source Tools Used in Data Science

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Seaborn
3. Keras

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

|Data Science Tools|
| ----- |
|RStudios|
|GitHub|
|Jupyter Notebooks|

Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Jonathon Young